<%= form_with(model: part, local: true) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :part_year %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :part_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :part_model %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :part_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :part_description %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition, id: :part_condition %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :part_price %>
  </div>

  <div class="field">
    <%= form.label :imgurl %>
    <%= form.text_field :imgurl, id: :part_imgurl %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
